*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #9c7159;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #454e2d;
}
.content {
  text-align: center;
  padding: 40px;
  justify-content: space-between;
  padding-right: 40px;
  padding-top: 40px;
  font-size: 20px;
  line-height: 50px;
  background: linear-gradient(to right, #aca76d, #e6d290);
  color: #3686a3;
}
.footer {
background: #454e2d;
padding: 10px;
text-align: center;
color: #feffff;
display: fixed;
min-width: 500px;
  margin: auto;
}
